<a href="https://colab.research.google.com/github/Ayantika1998/Assignments/blob/main/Parent_and_Child_Class_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
class person:
  def __init__(self,name, ID):
    self.name = name
    self.ID = ID
  def print_details(self):
    print(self.name, self.ID)
   
  
x=person("Ayantika Sur","4")
x.print_details()

Ayantika Sur 4

In [12]:
#child class 1
class student(person):
  pass
x = student("Arijit Gupta", "8")
x.print_details()

Arijit Gupta 8

In [14]:
#child class 2
class Employee( person ):            
        def __init__(self, name, ID, salary): 
                self.salary = salary 
                person.__init__(self, name, ID)  
          
        def det(self):
            print(self.salary)
    
                    

Emp = Employee('Sumana', "10", 57657) 
Emp.print_details()

Sumana 10

In [16]:
#child class 3
class staff(person):
  def __init__(self,name,ID,exp):
    self.exp=exp
    person.__init__(self,name,ID)

  def show(self):
    print(self.exp)
    

staff=staff("Dwaipayan M", 20, 10)
staff.print_details()

Dwaipayan M 20