<a href="https://colab.research.google.com/github/Ayantika1998/Assignments/blob/main/Python_Pandas_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing required library

In [1]:
import numpy as np
import pandas as pd
import datetime

# DataFrames

###Creating to lists - students and score

In [2]:
students = ['Alice', 'Bob', 'Emily', 'Charlie']

In [3]:
scores = [90, 80, 65, 50]

In [4]:
exam_results = pd.DataFrame(        #creating a dataframe exam_results
    {
        "name": students,
        "scores": scores
    }
)

In [5]:
exam_results #printing the dataframe

      name  scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50

### Searching (SQL SELECT)

In [6]:
exam_results.loc[0, 'scores'] #to get the scores at index position  0

90

In [7]:
exam_results.loc[:, 'scores'] #to get all the scores

0    90
1    80
2    65
3    50
Name: scores, dtype: int64

In [8]:
exam_results.loc[2, :] #to get all columns of selected index position

name      Emily
scores       65
Name: 2, dtype: object

In [9]:
exam_results['scores'] #to get the score columns

0    90
1    80
2    65
3    50
Name: scores, dtype: int64

In [10]:
exam_results[['name', 'scores']] #to get the full datframe

      name  scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50

### Add Columns

We can also easily add columns

In [11]:
gender = ['female', 'male', 'female', 'male'] # creating a new list gender

In [17]:
exam_results['gender'] = gender #adding a new column gender to the dataframe exam_results

In [27]:
exam_results #printing the dataframe

   scores  gender     name
0      90  female    Alice
1      80    male      Bob
2      65  female    Emily
3      50    male  Charlie

In [19]:
exam_results['scores']

0    90
1    80
2    65
3    50
Name: scores, dtype: int64

### Remove Columns

In [25]:
 exam_results.drop('name', axis=1) #remoove column name

### Column names and Row Index

In [28]:
exam_results.columns

Index(['scores', 'gender', 'name'], dtype='object')

In [29]:
exam_results.index

RangeIndex(start=0, stop=4, step=1)

### Renaming Columns

In [30]:
exam_results.rename({'name': 'first_name'}, axis=1)  #renaming column name as firsr_name

   scores  gender first_name
0      90  female      Alice
1      80    male        Bob
2      65  female      Emily
3      50    male    Charlie

### Dealing with missing values

Dataframes have specific commands which help with the handling of missing data

In [37]:
sparse = pd.DataFrame({'a': [1, 2, 3],            #creating a dataframe sparse containing null value
                       'b': [np.nan, 4, np.nan],
                       'c': [5, np.nan, np.nan]})

In [34]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [33]:
sparse.isna() #showing true where the value is null

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [35]:
sparse.fillna(0) #filling the null value with 0

   a    b    c
0  1  0.0  5.0
1  2  4.0  0.0
2  3  0.0  0.0

In [39]:
sparse.dropna(axis=1) #droping the null value

   a
0  1
1  2
2  3

### Group by

In [40]:
exam_results.groupby('gender').mean() #grouping the dataframe eaxm_results by gender

        scores
gender
female    77.5
male      65.0

In [42]:
mylist = [1,2,1,2]

exam_results.groupby(mylist).get_group(1)

   scores  gender   name
0      90  female  Alice
2      65  female  Emily

In [43]:
exam_results.groupby(mylist).get_group(2)

   scores gender     name
1      80   male      Bob
3      50   male  Charlie

Thus, suppose we want to group people who obtained marks above or below 70, then we could do:

In [44]:
above_70 = exam_results['scores'] > 70
above_70

0     True
1     True
2    False
3    False
Name: scores, dtype: bool

This will compute the mean scores of students who scored above or below 70

In [45]:
exam_results.groupby(above_70).mean()

        scores
scores
False     57.5
True      85.0

### Merge and Joining

In [46]:
contacts = pd.DataFrame(
    {
        'name' : ['Alice', 'Charlie'],
        'tel'  : ['+44 1234 5678', '+44 3245 5564']
    }
)

In [47]:
exam_results.merge(contacts, left_on='name', right_on='name')   # defaults to inner join

   scores  gender     name            tel
0      90  female    Alice  +44 1234 5678
1      50    male  Charlie  +44 3245 5564

In [48]:
exam_results.merge(contacts, left_on='name', right_on='name', how='outer')

   scores  gender     name            tel
0      90  female    Alice  +44 1234 5678
1      80    male      Bob            NaN
2      65  female    Emily            NaN
3      50    male  Charlie  +44 3245 5564