<a href="https://colab.research.google.com/github/Ayantika1998/Assignments/blob/main/Python_Practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
#creating a definition that add two string values or two integer values
def ADD(value_1, value_2):
    return value_1+value_2

In [34]:
ADD(40, 40)

80

In [35]:
ADD("Hi ","Ayantika")

'Hi Ayantika'

In [36]:
#the above definition cannot concat one string and one integer values 
ADD("Hi ", 4)
#so it returns error

TypeError: ignored

In [37]:
#opening a new text file and writing in it 
file = open("Ayantika.txt", "wt") #opening a text file in write only mode
file.write(ADD("Hi ","Friends")) #writing in the file
file.close #closing the file

In [38]:
#downloading the dataset
!wget https://raw.githubusercontent.com/a-forty-two/CGI-DPplusPy/main/breastcancer_data.csv

--2022-09-07 10:01:55--  https://raw.githubusercontent.com/a-forty-two/CGI-DPplusPy/main/breastcancer_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80005 (78K) [text/plain]
Saving to: ‘breastcancer_data.csv.1’

breastcancer_data.c 100%[===================>]  78.13K  --.-KB/s    in 0.01s

2022-09-07 10:01:55 (6.31 MB/s) - ‘breastcancer_data.csv.1’ saved [80005/80005]

In [39]:
!ls

Ayantika.txt  breastcancer_data.csv  breastcancer_data.csv.1  sample_data

## Pandas Dataframe

In [40]:
import pandas as pd
df = pd.read_csv('breastcancer_data.csv', header=0) #loading the dataset

In [41]:
df.head(8) #printing the first 8 observation

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.2419,0.07871
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.1812,0.05667
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.2069,0.05999
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.2597,0.09744
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.1809,0.05883
5,843786,M,12.45,15.70,82.57,477.1,0.12780,0.17000,0.15780,0.2087,0.07613
6,844359,M,18.25,19.98,119.60,1040.0,0.09463,0.10900,0.11270,0.1794,0.05742
7,84458202,M,13.71,20.83,90.20,577.9,0.11890,0.16450,0.09366,0.2196,0.07451

In [42]:
df.info() #checking the dtype of the columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1138 entries, 0 to 1137
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1138 non-null   int64
 1   diagnosis               1138 non-null   object
 2   radius_mean             1138 non-null   float64
 3   texture_mean            1138 non-null   float64
 4   perimeter_mean          1138 non-null   float64
 5   area_mean               1138 non-null   float64
 6   smoothness_mean         1138 non-null   float64
 7   compactness_mean        1138 non-null   float64
 8   concavity_mean          1138 non-null   float64
 9   symmetry_mean           1138 non-null   float64
 10  fractal_dimension_mean  1138 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 97.9+ KB

In [43]:
df['diagnosis'] #showing one column from the table

0       M
1       M
2       M
3       M
4       M
       ..
1133    M
1134    M
1135    M
1136    M
1137    B
Name: diagnosis, Length: 1138, dtype: object

## **Lists**
* The list can be defined as an abstract data type in which the elements are stored in an** ordered manner** for easier and efficient retrieval of the elements.
* List Data Structure allows repetition that means a single piece of data can occur more than once in a list.

In [44]:
#creating a list list_2
list_2 = [4,2,"Hello Ayantika", True, '<t234>', False]
list_2

[4, 2, 'Hello Ayantika', True, '<t234>', False]

In [45]:
list_2[-3] #indexing from left to right ,that is printing the 3rd element from last

True

In [46]:
#creating another list that contains it's own element and also the element of the previous list
list_3 = [8,6,list_2]

In [47]:
list_3 #printing the concatenated list

[8, 6, [4, 2, 'Hello Ayantika', True, '<t234>', False]]

In [48]:
list_4 = [-1,-3,[list_3]] #creating a nested list

In [49]:
list_4

[-1, -3, [[8, 6, [4, 2, 'Hello Ayantika', True, '<t234>', False]]]]

In [50]:
list_4[-1]

[[8, 6, [4, 2, 'Hello Ayantika', True, '<t234>', False]]]

## **Set**
* A set is a data structure that are associative containers and store unique elements.
* A stored element must be unique because it is identified with the value itself.
* It is UNINDEXED and UNORDERED

In [51]:
list_6 = [ 1, 2, 2, 3,4, 'apple', 209, True, 2.333, 'cow']
set_2 = set(list_6) # converting the list into set
set_2

{1, 2, 2.333, 209, 3, 4, 'apple', 'cow'}

In [52]:
set_2[2] # as it is unordered so it cant  e called by index

TypeError: ignored

## **Tuple**
* A tuple is a built-in data structure in Python that is an ordered collection of objects. Unlike lists, tuples come with limited functionality.
* The primary differing characteristic between lists and tuples is mutability. Lists are mutable, whereas tuples are immutable.

In [53]:
my_tuple = (1,2,2,3) #creating a tuple named my_tuple

In [54]:
my_tuple
(1, 2, 2, 3, 8)
#elememt can be called by index position 
my_tuple[3]

3

In [55]:
#deleting eelement from list
print(list_2)
del list_2[-1]
print(list_2)

[4, 2, 'Hello Ayantika', True, '<t234>', False]
[4, 2, 'Hello Ayantika', True, '<t234>']

In [56]:
del my_tuple[3] #'tuple' object doesn't support item deletion

TypeError: ignored

In [57]:
my_tuple[0] = 42 #'tuple' object does not support item assignment

TypeError: ignored

In [58]:
#index() - elememt can be called by index position 
my_tuple.index(2)

1

## **Dictionary**
* Dictionary is one of the important Data Structures that is usually used to store data in the key-value format.
* Each element presents in a dictionary data structure compulsorily have a key and some value is associated with that particular key.
* The relation or association between the key and the value is known as the mapping. keys are indexes, elements are values.
* Like list we can perform many operations in dictionary

In [59]:
my_d = {'k1':'item1','k2':'item2','2.44':'A', 'States':'Punjab'} #creating a dictioanry named my_d

In [60]:
my_d['2.44']

'A'

## **Functions**

In [61]:
def pmf(n,freq):
   pmf = freq/n
   return pmf

print(pmf(100,10))

0.1

In [63]:
def ApHp(n,a,d):
  AP= (n/2)*[2*a + (n- 1)*d]
  HP = 1/ [a + (n -1)* d]
  return (AP, HP)

print(ApHp(101,4,2))

TypeError: ignored

In [64]:
convert_to_kg= lambda pound: pound*0.45359237
convert_to_kg(82)

37.19457434

In [65]:
#e=mc^2
e = lambda m,c: m*c*c
e(4,8)

256

In [66]:
for i in list_2: #to print all element in a list in column
  print(i)

4
2
Hello Ayantika
True
<t234>

In [67]:
index = len(list_2) -1
while (index>=0):
  print(list_2[index])
  index = index - 1

<t234>
True
Hello Ayantika
2
4

In [68]:
#to add string with each element in a list
add_string = [ str(x)+'bye' for x in list_2]
add_string

['4bye', '2bye', 'Hello Ayantikabye', 'Truebye', '<t234>bye']

In [69]:
list=[3,4,6,8,10]

In [70]:
squares = [ x*x for x in list]
squares

[9, 16, 36, 64, 100]

In [71]:
def power(z):
  return lambda x: x**z 
  
squares = power(2)
cube = power(3)

In [72]:
cube(10)

1000

In [73]:
class Class_1:    #creating a class
  def greet(): 
    return 'bye bye'
  def greet_2(this):
    return 'Hi Hi'

In [79]:
 #OBJECT of a class
obj = Class_1() # new objects 
print(obj.greet_2()) 
print(obj.greet())

Hi Hi

TypeError: ignored

In [76]:
class monkey:
  def __init__(x):
    x.name = " rhesus "
    x.age = 100
    x.hungerStatus = False
  def setNewProperties(x, name, age):
    x.name = name
    x.age = age
  def getMonkeyProperties(x):
    return x.name, x.age, ("hungry" if x.hungerStatus==True else "Not Hungry")

In [77]:
raichu = monkey()
raichu.getMonkeyProperties()

(' rhesus ', 100, 'Not Hungry')

In [82]:
class multiply:
  def mul_2(x, a,b):
    return a*b
  def mul_2(x, a):
    return a*a

ob = multiply()
print(ob.mul_2(3)) 
print(ob.mul_2(3,2))

9

TypeError: ignored

In [83]:
class AP:
  def __iter__(y):
    y.base = -1
    ystep = 2
    return y
  def __next__(y):
    y.base = y.base + y.step
    return y.base

In [84]:
obj = AP()
i = iter(obj)

In [85]:
#creating a datasets
ID = [1,2,3,4,5,6,7,8,8,8]
Name = ['A','B','C','D','E','F','G','H','I','J']

import pandas as pd 
dataframe = pd.DataFrame(
    {'ID':ID,
    'Name':Name}
)

In [86]:
df.iloc[ 4:8, [4]] #we can select particular rows

   perimeter_mean
4          135.10
5           82.57
6          119.60
7           90.20

In [87]:
data = pd.read_csv('https://raw.githubusercontent.com/a-forty-two/CGI-DPplusPy/main/breastcancer_data.csv', header=0)

In [88]:
data.head(10)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.2419,0.07871
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.1812,0.05667
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.2069,0.05999
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.2597,0.09744
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.1809,0.05883
5,843786,M,12.45,15.70,82.57,477.1,0.12780,0.17000,0.15780,0.2087,0.07613
6,844359,M,18.25,19.98,119.60,1040.0,0.09463,0.10900,0.11270,0.1794,0.05742
7,84458202,M,13.71,20.83,90.20,577.9,0.11890,0.16450,0.09366,0.2196,0.07451
8,844981,M,13.00,21.82,87.50,519.8,0.12730,0.19320,0.18590,0.2350,0.07389
9,84501001,M,12.46,24.04,83.97,475.9,0.11860,0.23960,0.22730,0.2030,0.08243

In [89]:
data.tail(6)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
1132,93315,M,20.92,25.09,143.00,1347.0,0.10990,0.22360,0.31740,0.2149,0.06879
1133,93316,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.1726,0.05623
1134,93317,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.1752,0.05533
1135,93318,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.1590,0.05648
1136,93319,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.2397,0.07016
1137,93320,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.1587,0.05884

In [90]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1138 entries, 0 to 1137
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1138 non-null   int64
 1   diagnosis               1138 non-null   object
 2   radius_mean             1138 non-null   float64
 3   texture_mean            1138 non-null   float64
 4   perimeter_mean          1138 non-null   float64
 5   area_mean               1138 non-null   float64
 6   smoothness_mean         1138 non-null   float64
 7   compactness_mean        1138 non-null   float64
 8   concavity_mean          1138 non-null   float64
 9   symmetry_mean           1138 non-null   float64
 10  fractal_dimension_mean  1138 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 97.9+ KB

In [91]:
file_2 = open('def.txt','wt')
print(file_2.__dict__)

{'mode': 'wt'}

In [92]:
data.describe()

,id,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
count,1.138000e+03,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000
mean,1.523243e+07,14.127292,19.289649,91.969033,654.889104,0.096360,0.104341,0.088799,0.181162,0.062798
std,8.965268e+07,3.522499,4.299144,24.288293,351.759340,0.014058,0.052790,0.079685,0.027402,0.007057
min,8.670000e+03,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.106000,0.049960
25%,9.299525e+04,11.700000,16.170000,75.170000,420.300000,0.086370,0.064920,0.029560,0.161900,0.057700
50%,9.327950e+04,13.370000,18.840000,86.240000,551.100000,0.095870,0.092630,0.061540,0.179200,0.061540
75%,9.060125e+05,15.780000,21.800000,104.100000,782.700000,0.105300,0.130400,0.130700,0.195700,0.066120
max,9.113205e+08,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.304000,0.097440

In [93]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
id,1138.0,1.523243e+07,8.965268e+07,8670.00000,92995.25000,93279.50000,906012.50000,9.113205e+08
radius_mean,1138.0,1.412729e+01,3.522499e+00,6.98100,11.70000,13.37000,15.78000,2.811000e+01
texture_mean,1138.0,1.928965e+01,4.299144e+00,9.71000,16.17000,18.84000,21.80000,3.928000e+01
perimeter_mean,1138.0,9.196903e+01,2.428829e+01,43.79000,75.17000,86.24000,104.10000,1.885000e+02
area_mean,1138.0,6.548891e+02,3.517593e+02,143.50000,420.30000,551.10000,782.70000,2.501000e+03
smoothness_mean,1138.0,9.636028e-02,1.405794e-02,0.05263,0.08637,0.09587,0.10530,1.634000e-01
compactness_mean,1138.0,1.043410e-01,5.278953e-02,0.01938,0.06492,0.09263,0.13040,3.454000e-01
concavity_mean,1138.0,8.879932e-02,7.968474e-02,0.00000,0.02956,0.06154,0.13070,4.268000e-01
symmetry_mean,1138.0,1.811619e-01,2.740222e-02,0.10600,0.16190,0.17920,0.19570,3.040000e-01
fractal_dimension_mean,1138.0,6.279761e-02,7.057257e-03,0.04996,0.05770,0.06154,0.06612,9.744000e-02

In [99]:
#defining remaining data in other table
restdata = data.iloc[:, 2:]
restdata.head()

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.2419,0.07871
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.1812,0.05667
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.2069,0.05999
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.2597,0.09744
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.1809,0.05883